<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- form for adding a new leftover post -->
      <form novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">To who do we owe the honor?</ion-label>
            <!-- because its a form angular need the name prop, i just ngModel for the 2-way binding, like with the rest of the inputs -->
            <ion-input type="text" placeholder="Your name..." name="who" [(ngModel)]="newLeftoverPost.who"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Whats the occasion?</ion-label>
            <ion-input type="text" placeholder="Occasion..." name="description" [(ngModel)]="newLeftoverPost.description"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Where is the food?</ion-label>
            <ion-input type="text" placeholder="fidge nr, table etc..." name="where" [(ngModel)]="newLeftoverPost.where"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
