<ion-modal trigger="create-grocery">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- form for adding a new leftover post -->
      <form novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Grocery name</ion-label>
            <!-- because its a form angular need the name prop, i just ngModel for the 2-way binding, like with the rest of the inputs -->
            <ion-input type="text" placeholder="Grocery name.." name="name" [(ngModel)]="newGrocery.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Is this needed right now?</ion-label>
            <ion-toggle slot="end" name="kiwi" color="success" name="needed" [(ngModel)]="newGrocery.needed"></ion-toggle>
          </ion-item>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
