<ion-tabs>

  <!-- the bottom bar with the different tabs -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="leftover">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Leftovers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Link</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Leftover#2</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
