<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row>
      <ion-col>
        <!-- the simplest way of opning a given link in a browser from an app -->
        <a
          class="ion-home color-primary item"
          href="#"
          onclick="window.open('https://loldle.net/', '_system', 'location=yes'); return false;"> Lolle.net
        </a>
      </ion-col>
    </ion-row>
  </ion-content>

</ion-content>
