<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- like on the leftover page list the leftover posts -->
  <ion-card *ngFor="let leftoverPost of leftoverPosts | async">
    <img src="https://picsum.photos/460/300" />
    <ion-card-header>
      <ion-card-subtitle>{{ leftoverPost.who }}</ion-card-subtitle>
      <ion-card-title>{{ leftoverPost.where }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ leftoverPost.description }}</ion-card-content>
  </ion-card>
</ion-content>
